.running_lights {
    position: relative;
    transform: scale(1);
    /* Adjust the scale factor as needed */
}

.running_lights_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.input-group .running_lights {
    flex: 0 0 85%; /* Set flex-grow, flex-shrink, and flex-basis */
}

.circle_fade_in_out {
    width: 12px;
    height: 12px;
    background: #ffff00;
    box-shadow: 0 0 50px 5px #ffff00;
    border-radius: 50%;
    animation: fading 3s ease-in-out infinite;
}

@keyframes fading {
    0%,
    100% {
        transform: scale(0.2);
        opacity: 0.2;
    }

    30% {
        transform: scale(0.8);
        opacity: 1;
    }
}
