.fading_in_lights {
    position: relative;
    transform: scale(1);
    /* Adjust the scale factor as needed */
}

.fading_in_lights_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.input-group .fading_in_lights {
    flex: 0 0 85%; /* Set flex-grow, flex-shrink, and flex-basis */
}

.circle_fade_in {
    width: 12px;
    height: 12px;
    background: #ffff00;
    box-shadow: 0 0 50px 5px #ffff00;
    border-radius: 50%;
    /* animation: grow 3s ease-out 1;  */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes example {
    from {
        transform: scale(0);
        opacity: 0.1;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
