body {
  background-color: white;
}
h1 {
  font-size: 0.9em;
  font-family: sans-serif;
  color: #20639B;
}

img {
    max-width: 30vw;
    max-height: 15vh;
    height: auto;
}

.button {
  border: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.8s;
  width:100%;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #245F7E;
}

.button2:hover {
  background-color: #245F7E;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}


input[type="file"] {  
    display: none; 
	border: 2px;	
}  

.custom-file-upload1 {   
    background-color: white; 
    color: black; 
	border: 2px solid #1DCB75;
	width: 97%;
} 


.custom-file-upload1:hover {
  background-color: #1DCB75; 
  color: white; 
}



.styled-table{
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	
}



.styled-table tr {
	border: 1px solid black;
    color: #20639B;
}








.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    opacity: 0; /* add this */
    visibility: visible;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity:1 ;}
	100%{opacity:0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity:1 ;}
	100%{opacity:0;}
}



